[flake8]

count = True
max-line-length = 100
statistics = True
verbose = 1

per-file-ignores =
  hue/__init__.py:F401

exclude =
  .git,
  __pycache__,
  .mypy_cache,
  .tox,
  .venv,
  .vscode,
  build,
  dist,
